@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
  }
body{
    font-family:'Sahel' !important;
    direction:rtl;
    text-align: right;
    /* font-size:22px !important; */
}
#mainNav {
    direction: ltr;
    padding-top: 2%;
}
.navbar-nav.ms-auto.py-4.py-lg-0 {
    direction: rtl;
} 
header.masthead .page-heading h1, header.masthead .page-heading .h1, header.masthead .site-heading h1, header.masthead .site-heading .h1 {
    font-size: 50px !important;
}
.post-preview > a > .post-title {
    font-size: 26px !important;
}
.post-preview > a > .post-subtitle {
    font-size: 20px !important;
    font-family: 'Sahel';
}
.col-md-10.col-lg-8.col-xl-7 {
    text-align: justify;
}
.ml-3{
    margin-left:50% !important;
}
/* .nav ul{
padding-left: 100px;
}
.nav ul li{
border-bottom: none;
height: 85px;
line-height: 30px;
font-size: 15px;
display:inline-block;
float:right;
margin:0 auto;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
    display:block ;
    transition: .3s background-color;
    padding:0 24px;
}
.nav ul li a:hover{
    background-color: rgb(197, 202, 202);
    color: blue;
}
.nav a{
    border-bottom:none;
}
.nav li ul{
    position:absolute;
    display: none;
    width: inherit;
}
.nav li:hover ul{
    display: block;
}
.nav ul li ul li {
    display: block;
    float:none;
    height: 60px;
    line-height: 20px;
}

.nav ul li ul li ul{
    position: absolute;
right: 100%;
top: 0;
display: none !important;
}
.nav ul>li>ul>li:hover>ul{
    display:block !important;
}

.nav ul>li>ul>li>ul>li:hover{
    display: block !important;
    padding-left: none !important;
} */
/* ghabl va baaad */
.nav ul {
  padding-right: 0;
}

.nav ul li {
    border-bottom: none;   
    display: inline-block;
    float:left;
    margin: 0 auto;
}

.nav ul li a {
    height: auto;
    text-decoration: none;
    color:#000000 !important;
    display: block;
    transition: .3s background-color;
    padding:0 24px;
    background-color: rgba(211, 211, 211, 0.151);
}

.nav ul li a:hover {
  background-color:lightgrey;
  color:#000000;
  
}

.nav a {
    border-bottom:none;
}

.nav li ul {
    position:absolute;
    display:none;
    width:inherit;
}

.nav li:hover ul {
    display:block;
}

.nav ul li ul li {
  display: block;
  float:none !important; 
  line-height:24px;
}

.nav ul li ul li ul {
  position: absolute;
  right: 100%;
  top:0;
  display: none !important;
}

.nav ul > li > ul > li:hover > ul {
    display:block !important;
}

.nav ul > li > ul > li > ul > li:hover > ul {
    display:block !important;
}
a.nav-link {
    padding: 10px 10px 10px 10px !important;
}
/* end  */
.nav{
    font-family:'Sahel' !important;

}
