{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The one and only Sky</h1>
                    <span class="subheading">developmented by Erfan Sky</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                {% block headerCategory %}{% endblock %}
                    {% for ins in mohtava %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'blog:linkmojjazza' ins.sluglink %}">
                            <h2 class="post-title">{{ins.title|truncatewords:5}}</h2>
                            <h3 class="post-subtitle">{{ins.body|truncatewords:20}}</h3>
                        </a>
                        <p class="post-meta">
                            نوشته شده توسط 
                            <a href="{% url 'blog:authorU' ins.author %}">{{ins.author.get_full_name}}</a>
                            
                        {{ins.jalalpub}}
                        </p>
                        <div>
                        {% for icref in ins.cat.CategoryActive %}
                        <a href='{% url "blog:namayeshCate" icref.sluglink %}'> #{{icref}},</a>
                        {% endfor %}
                        </div>
                        
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                    {% if is_paginated %}
                    {% if page_obj.has_previous %}
                    <a class="btn btn-primary text-uppercase ml-3" href="{% block prev_link_button %}{% endblock  %}"> جدیدتر &rarr; </a>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <a class="btn btn-primary text-uppercase" href="{% block next_link_button %}{% endblock  %}">قدیمی تر &larr; </a>
                    {% endif %}
                    
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}