{% extends 'blog/base.html' %}
{% block title %}{{mohtava.title}} {% endblock title %}
{% load static %}
{% block main %}
    <header class="masthead" style="background-image: url('{{mohtava.picture.url}}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{mohtava.title}}</h1>
                        <span class="subheading">{{mohtava.jalalpub}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{mohtava.title}}
                    {{mohtava.body|linebreaks}}
                    {% comment %} {{mohtava.cat.all}} {% endcomment %}
                    {% for icref in mohtava.cat.CategoryActive %}
                        <a href='{% url "blog:namayeshCate" icref.sluglink %}'> #{{icref}},</a>
                    {% endfor %} 
                
                </div>
            </div>
        </div>
    </article>
{% endblock main %} 
