<div class="collapse navbar-collapse nav" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:data' %}" target="blank">خانه</a></li>
        {% for icat in categ %}
            {% if icat.parent == None %}
                <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:namayeshCate' icat.sluglink %}">{{icat.title}}</a>
                    {% if icat.children.CategoryActive%}
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            {% for icat in icat.children.CategoryActive %}
                                <li class="nav-item">
                                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:namayeshCate' icat.sluglink %}">{{icat.title}}</a>
                                    {% if icat.children.CategoryActive%}
                                        {% include 'blog/inctag/nvai_loop.html' %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>