<ul class="navbar-nav ms-auto py-4 py-lg-0">    
    {% for icat in icat.children.all %}
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:namayeshCate' icat.sluglink %}">{{icat.title}}</a>
        {% if icat.children.all %}
            {% include 'blog/inctag/nvai_loop.html' %}
        {% endif %}
        </li>
    {% endfor %}
</ul>